* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;height: 100dvh;
}
.calculadora {
    font-family: sans-serif;
    width: 300px;
    border-radius: 20px;
    box-shadow: 10px 10px;
    overflow: hidden;
    background-color: rgb(21, 21, 21);
}
.display {
    background-color: rgb(21, 21, 21);
    width: 300px;
    height: 75px;
    padding: 15px;
    color: #fff;
    text-align: right;
    font-size: 2.5em;
}
.display > p {
    font-size: 0.25em;
}
.display > h1 {
    font-size: 1em;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;  /* distancia entre os botoes */
}
.buttons > button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 100%;
    height: 60px;   /* altura dos botoes */
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
.button-zero {
    grid-column: span 2;    /* ocupa duas colunas no grid */
}

.bg-gray {
    background-color: rgb(63, 63, 63);
}
.bg-light-gray {
    background-color: rgb(103, 103, 103);
}
.bg-orange {
    background-color: orange;
}
.bg-green {
    background-color: green;
}

button:active {
    opacity: 0.85;
}