* {
    margin: 0;
    padding: 0;
}
video {
    width: 100dvw;
    height: 100dvh;
    object-fit: cover; /*video preenchido*/
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    margin-top: 25dvh;
    padding: 25px;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    transition: 200ms;
    scale: 1.05;
}
button:active {
    opacity: 0.7;
}