* {
    font-family: sans-serif;
}
#form {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
    background-color: #ffc404;
    border-radius: 30px;
    box-shadow: 10px 10px black;
}
hr {
    border: solid 3px;
}
.form-header {
    padding-top: 5px;
}
table {
    display: flex;
    justify-content: center;
}
table th{
    padding-right: 20px;
    font-size: 30px;
}
#form input{
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px #000;
}
.input-default{
    padding-left: 10px;
    font-size: 20px;
}
#submit {
    background-color: #000;
    color: #ffc404;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px #473808;
}
#submit:hover{
    transition: 200ms;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 0px 0px;
}
#clear {
    background-color: #dd0000;
    color: #ffc404;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px #8b0101;
}
#clear:hover{
    transition: 200ms;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 0px 0px;
}
.result-container{
    display: flex;
    justify-content: center;
    text-align: start;
}
#result-text {
    display: none;
    background-color: black;
    color: #FFF;
    padding: 20px;
    padding-bottom: 40px;
    width: 210px;
    height: 100px;
    border-radius: 10px;
}