* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #005478;
}
video {
    width: 100dvw;
    height: 100dvh;
    object-fit: cover;  /*video preenchido*/
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.container{
    justify-content: center;
    text-align: center;
    color: #fff;
}
.counter {
    display: flex;
    justify-content: space-around;
}